.footer_container{
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    background-color: #1e1e1e;
    color: var(--light-gray2-color);
}

.footer_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_title{
    flex-basis: 25%;
    border-right: 1px var(--light-gray2-color) solid;
    padding: 0 1rem 0 0;
    text-align: center;
}

.footer_title > h2{
    font-family: "Rufina", serif;
    font-size: 54px;
}

.footer_navigation{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
    min-width: 200px;
}

.footer_link{
    color: var(--light-gray2-color);
    text-decoration: none;
    position: relative;
}

.footer_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--light-gray2-color);
    transition: width 0.3s ease-in-out;
}

.footer_link:hover::after{
    width: 100%;
}

.footer_contacts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .footer_contacts > p{
    line-height: auto;
} */

.footer_contacts > p > a{
    text-decoration: none;
    color: var(--light-gray2-color);
}

/* White line */

.white_line{
    width: 100%;
    height: 1px;
    background-color: var(--light-gray2-color);
    margin: 3rem 0;
}

.social_media{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.social_media_link{
    color: var(--light-gray2-color);
}

.instagram{
    background-image: url("../../media/social_media/instagram.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.telegram{
    background-image: url("../../media/social_media/telegram.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.facebook{
    background-image: url("../../media/social_media/facebook.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

@media(max-width: 630px){
    .footer_container{
        padding: 3rem 1rem;
    }

    .footer_content{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer_title{
        border: none;
        flex-basis: 100%;
        text-align: center;
    }

    .footer_title{
        padding: 0;
    }

    .footer_title > h2{
        font-size: 40px;
    }
}