.about_container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 4rem 0 2rem 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2rem;
}

.about_container > h2{
    text-align: center;
    font-size: 46px;
    margin-bottom: 4rem;
    font-family: "Rufina", serif;
    line-height: 0;
}

.about_container > p{
    text-align: center;
}

.about_subtitle{
    font-family: "Poppins", serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.about_block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}

.about_content{
    flex-basis: 30%;
    flex: 1 1 30%;
    min-width: 250px;
}

.about_content > p{
    padding: 1rem 1rem 1rem 0;
}

.about_img_block{
    display: grid;
    grid-template-areas: 
        'img1 img1 img1 img2 img2 img2 img2 img2 img2 img2'
        'img1 img1 img1 img2 img2 img2 img2 img2 img2 img2'
        'img1 img1 img1 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
        'img3 img3 img3 img2 img2 img2 img2 img2 img2 img2'
    ;
    gap: 10px;
    flex-basis: 70%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 50px);
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

/* .about_img{
    width: 200px;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 10px;
} */

.img1{
    grid-area: img1;
    background-image: url("../../../media/img/about_spa.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

.img2{
    grid-area: img2;
    background-image: url("../../../media/img/spa1.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

.img3{
    grid-area: img3;
    background-image: url("../../../media/img/spa.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

@media(max-width: 748px){
    .about_img_block{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }

    .img1{
        width: 100%;
        height: 200px;
    }

    .img2{
        width: 100%;
        height: 200px;
    }

    .img3{
        width: 100%;
        height: 200px;
    }
}
