.about{
    width: 100vw;
    /* background-image: url("../../../media/img/main/about.JPG"); */
    color: var(--dark-green-color);
    padding: 3rem 0;
}

.about_container{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 0 2rem;
}

.about_container > h2{
    text-align: center;
    font-size: 46px;
    margin-bottom: 4rem;
    font-family: "Rufina", serif;
    line-height: 0;
}

.about_container > p{
    text-align: center;
}

.about_subtitle{
    font-family: "Poppins", serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.about_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.about_content{
    /* flex-basis: 30%;
    flex: 1 1 30%;
    min-width: 250px; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about_content > p{
    text-align: center;
    padding: 1rem 1rem 1rem 0;
    line-height: 1.5rem;
    flex: 1 1 300px;
}

.about_content > p > span {
    font-weight: bold;
}

.about_nsr{
    font-size: 32px;
    font-weight: 400;
    font-style: italic;
}

/* .about_img_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 2rem 0;
}

.about_img{
    flex-basis: 22%;
    flex: 1 1 200px;
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 10px;
}

.img1{
    background-image: url("../../../media/img/main/about/about5.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

.img2{
    background-image: url("../../../media/img/main/about/about2.PNG");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

.img3{
    background-image: url("../../../media/img/main/about/about3.PNG");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
}

.img4{
    background-image: url("../../../media/img/main/about/about4.PNG");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
} */

@media(max-width: 748px){
    .about_img_block{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
    }

    .img1{
        width: 100%;
        height: 200px;
    }

    .img2{
        width: 100%;
        height: 200px;
    }

    .img3{
        width: 100%;
        height: 200px;
    }
}
