.intro_video video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro_content_block{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_content{
    position: relative;
    color: var(--light-gray2-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 4rem;
    max-width: 700px;
}

.intro_content::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: var(--dark-green-color);
}

.intro_content > h2{
    font-family: "Montserrat", serif;
    font-weight: 300;
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 42px;
    line-height: 0;
}

.intro_content > .retreat{
    font-size: 32px;
}

.intro_content > p{
    z-index: 1;
    font-size: 24px;
    text-align: center;
}

.see_more_btn {
    position: relative;
    text-decoration: none;
    color: var(--light-gray2-color);
    transition: all 0.3s;
    z-index: 1;
}