.offers_container{
    width: 100%;
    background-image: url("../../../media/img/main/what_we_offer3.jpg");
    background-size: cover;
    background-position: center;
    color: var(--dark-green-color);
}

.offers_block{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.offers_content{
    max-width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}

.offers_text_block{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* min-width: 250px; */
    /* flex-basis: 50%; */
    padding: 4rem 2rem;
    height: auto;
    z-index: 1;
    color: var(--light-gray2-color);
}

.offers_text_block::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.offers_title > h2{
    font-family: "Rufina", serif;
    font-size: 46px;
    text-align: center;
}

.offers_title > p{
    font-family: "Poppins", serif;
    font-size: 20px;
}

.packages_container{
    display: flex;
    justify-content: space-between;
    color: var(--dark-green-color);
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 10;
}

.package_item{
    position: relative;
    flex: 1 1 300px;
    margin-top: 2rem;
    padding: 2rem 1rem;
    border-radius: 20px;
    background: var(--light-gray2-color);
    /* text-align: center; */
    background-size: cover;
    color: var(--light-gray2-color);
    z-index: 0;
}

.package_item::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: -1;
}

.basic_packege{
    background-image: url('../../../media/img/packages/basic.JPG');
}

.reast_and_joy_package{
    background-image: url('../../../media/img/packages/rest_and_joy.JPG');
}

.full_package{
    background-image: url('../../../media/img/packages/full.JPG');
}

.custom_package{
    background-image: url('../../../media/img/packages/custom.JPG');
}

.package_item > ul > li{
    /* list-style: none; */
    font-size: 16px;
    line-height: 1.5;
}

.package_title{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

@media(max-width: 700px){
    .offers_text_block{
        flex-grow: 1;
        flex-shrink: 1;
        padding: 4rem 2rem;
    }
    .offers_title{
        text-align: center;
    }
}