.prasad_img{
    background-image: url("../../../media/img/NSR_team/prasad/prasad2.PNG");
    background-size: cover;
    background-position: center;
}

.prasad_international_practice_img{
    background-image: url("../../../media/img/NSR_team/prasad/prasad.jpg");
}

.prasad_specialization_img{
    background-image: url("../../../media/img/NSR_team/prasad/prasad1.PNG");
}