.valentyna_img{
    background-image: url("../../../media/img/NSR_team/valentyna/valentyna.JPG");
    background-size: cover;
}

.valentyna_international_practice_img{
    background-image: url("../../../media/img/NSR_team/valentyna/valentyna2.PNG");
}

.valentyna_specialization_img{
    background-image: url("../../../media/img/NSR_team/valentyna/valentyna3.JPG");
}

@media (max-width: 800px){
    .valentyna_img{
        background-image: url("../../../media/img/NSR_team/valentyna/valentyna1.JPG");
    }
}