.main_nsr_team_container > h2{
    font-family: "Rufina", serif;
    font-size: 46px;
    line-height: 0;
    text-align: center;
    margin: 4rem 0;
}

.main_nsr_team{
    width: 100%;
    height: 100vh;
    display: flex;
}

.teammate{
    flex-basis: 25%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: all .3s linear;
    overflow: hidden;
    cursor: pointer;
}

.teammate:hover{
    filter: grayscale(0);
    transition: all .3s linear;
}

.maryana{
    background-image: url("../../media/img/NSR_team/maryana_hudyma.jpg");
    background-position: center;
}

.valentyna{
    background-image: url("../../media/img//NSR_team/valentyna.jpg");
    background-position: center;
}

.prasad{
    background-image: url("../../media/img/NSR_team/prasad.jpg");
    background-position: center;
}

.artemyi{
    background-image: url("../../media/img/NSR_team/artemyi.jpg");
    background-position: center;
}

.teammate .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2rem 0;
    font-size: 1.2em;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.teammate:hover .name {
    opacity: 1;
    transform: translateY(0);
}

.nsr_teammates{
    position: relative;
    text-decoration: none;
    color: var(--light-gray2-color);
    z-index: 2;
}

@media (max-width: 1100px){
    .main_nsr_team{
        flex-direction: column;
        width: 100vw;
        height: 400vh;
    }

    .teammate{
        flex-basis: 100%;
    }
}