.main_nsr_team_container > h2{
    font-family: "Rufina", serif;
    font-size: 46px;
    line-height: 0;
    text-align: center;
    margin: 4rem 0;
}

.main_nsr_team{
    width: 100%;
    height: 100vh;
    display: flex;
}

.teammate{
    flex-basis: 25%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: all .3s linear;
    overflow: hidden;
    cursor: pointer;
}

.teammate:hover{
    filter: grayscale(0);
    transition: all .3s linear;
}

.maryana{
    background-image: url("../../media/img/NSR_team/maryana/maryana.JPG");
    background-position: center;
    background-size: cover;
}

.valentyna{
    background-image: url("../../media/img//NSR_team/valentyna.jpg");
    background-position: center;
    background-size: cover;
}

.prasad{
    background-image: url("../../media/img/NSR_team/prasad.jpg");
    background-position: center;
    background-size: cover;
}

.artemyi{
    background-image: url("../../media/img/NSR_team/artemyi1.PNG");
    background-position: center;
    background-size: cover;
}

.teammate .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2rem 0;
    font-size: 1.2em;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
}

.teammate:hover .name {
    opacity: 1;
    transform: translateY(0);
}

.nsr_teammates{
    position: relative;
    text-decoration: none;
    color: var(--light-gray2-color);
    z-index: 2;
}

/* Team block */

.team_container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.team_container > h2{
    font-family: "Rufina", serif;
    font-size: 46px;
}

.team_block{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}

.teammate_text{
    /* flex-basis: 65%; */
    flex: 1 300px 68%;
    min-width: 300px;
}

.teammate_text > div > p > span{
    font-weight: bold;
}

.teammate_content{
    flex: 0.8 200px 20%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.teammate_img{
    height: 400px;
    border-radius: 5px;
}

.teammate_name{
    font-weight: bold;
    font-size: 24px;
}

.teammate_position{
    font-weight: bold;
    margin-bottom: 2rem;
}

@media (max-width: 1100px){
    .main_nsr_team{
        flex-direction: column;
        width: 100vw;
        height: 400vh;
    }

    .teammate{
        flex-basis: 100%;
    }
}

@media(max-width: 800px){
    .team_container > h2{
        font-size: 32px;
    }

    .team_block{
        padding: 0 1rem;
    }

    .teammate_text{
        font-size: 12px;
    }
}