.online_container{
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.online_container > h2{
    font-family: "Rufina", serif;
    font-size: 46px;
    line-height: 0;
    text-align: center;
    margin: 4rem 0;
}

.online_container > p{
    text-align: center;
}

.online_plan{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
    gap: 2rem;
}

.online_plan_item{
    padding: 2rem 2rem;
    font-size: 24px;
    border: none;
    transition: all .3s linear;

}

.online_plan_item:hover{
    background-color: var(--light-gray1-color);
    transition: all .3s linear;
}

.online_plan_additionaly{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background-color: var(--dark-green-color);
    color: var(--light-gray1-color);
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.online_plan_item_add{
    padding: 2rem;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.fitness{
    background-image: url("../../media/img/recovery_plan/online/workout.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.medical{
    background-image: url("../../media/img/recovery_plan/online/test.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.test{
    background-image: url("../../media/img/recovery_plan/online/test.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.mind_coaching{
    background-image: url("../../media/img/recovery_plan/online/idea.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.online_plan_item_add > p{
    text-align: center;
}



.box-2 { 
    background-color: var(--dark-blue-color);
    transition: all 0.3s;
}

.box-2:hover{
    background-color: transparent;
    transition: all 0.3s;
    color: var(--dark-green-color);
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-two {
    transition: all 0.5s;
    position: relative; 
}

.btn-two button {
    font-family: "Montserrat", serif;
    background: none;
    border: none;
    color: #FFF;
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-two button:hover{
    color: var(--dark-green-color);
}

.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(25,37,36,0.2);
    /* background-color: rgba(255,255,255,0.1); */
}
.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(25,37,36,0.2);
    /* background-color: rgba(255,255,255,0.1); */
}
.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(25,37,36,0);
}
.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(25,37,36,0);
}



@media(max-width: 748px){
    .online_container > h2{
        font-size: 32px;
    }
}
