.ayurvedic_treatments{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding: 0 10px;
}

.ayurvedic_treatments > p{
    text-align: center;
    margin: 4rem auto;
    max-width: 800px;
}

.ayurvedic_treatments_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.ayurcedic_img{
    flex-basis: 33%;
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #e6e6e6;
    overflow: hidden;
    flex: 1 1 300px;
}

.second_ayurcedic_img{
    height: 600px;
}

.ayurcedic_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ayurvedic_treatment_img_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -100%;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    transition: all .3s linear;
}

.ayurvedic_treatment_img_content > h2{
    position: relative;
    z-index: 1;
    color: var(--light-gray2-color);
    font-size: 24px;
}

.ayurvedic_treatment_img_content > p{
    position: relative;
    z-index: 1;
    color: var(--light-gray2-color);
    font-size: 14px;
    text-align: center;
    padding: 0 1rem;
}

.ayurcedic_img:hover .ayurvedic_treatment_img_content{
    top: 0;
    transition: all .3s linear;
}

@media(max-width: 970px){
    .second_ayurcedic_img{
        height: 500px;
    }
    .ayurvedic_treatments_block{
        gap: 5px;
    }
}

/* @media(max-width: 570px){
    .ayurcedic_img{
        height: 300px;
    }
} */