.cosmetological_care{
    position: relative;
    background-image: url("../../../media/img/recovery_plan/on_site/cosmetological_care.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 3rem 2rem;
    color: var(--light-gray2-color);
}

.cosmetological_care::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: 0.5;
    z-index: 1;
}

.cosmetological_care > h2{
    position: relative;
    z-index: 2;
}

.cosmetological_care > p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.cosmetological_service{
    display: flex;
    max-width: 1400px;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3rem auto;
}

.service_item{
    text-align: center;
    flex-basis: 30%;
    background: rgba(0, 0, 0, 0.3);
    padding: 3rem 0;
}