.individual_consultation > p{
    text-align: center;
    margin: 2rem auto;
    max-width: 800px;
}

.individual_consultation_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

.individual_consultation_content{
    flex-basis: 45%;
    flex: 1 1 300px;
}

.individual_consultation_content > li{
    padding: 1rem 0;
}

.individual_consultation_img{
    flex-basis: 50%;
    background-color: #e5e5e5;
    height: 500px;
    background-image: url("../../../media/img/recovery_plan/on_site/medical_exam.jpg");
    background-size: cover;
    background-position: center;
    flex: 1 1 300px;
}

@media(max-width: 768px){
    .individual_consultation_img{
        height: 300px;
    }
}

@media(max-width: 450px){
    .individual_consultation_img{
        height: 200px;
    }
}