/* .yoga{
    margin-bottom: 4rem;
    max-width: 1400px;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
} */

.yoga > p{
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.yoga_images{
    position: relative;
    max-width: 1000px;
    min-height: 800px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.yoga_img1{
    background-image: url("../../../media/img/recovery_plan/on_site/yoga1.jpg");
    background-size: cover;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 3rem;
    left: 3rem;
    z-index: 4;
}

.yoga_img2{
    background-image: url("../../../media/img/recovery_plan/on_site/yoga2.jpg");
    background-size: cover;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    right: 2rem;
}

.yoga_img3{
    background-image: url("../../../media/img/recovery_plan/on_site/yoga3.jpg");
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 300px;
    bottom: 4rem;
    left: 0;
    z-index: 3;
}

.yoga_img4{
    background-image: url("../../../media/img/recovery_plan/on_site/yoga4.jpg");
    background-size: cover;
    position: absolute;
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
}

@media(max-width: 970px){
    .yoga_images {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .yoga_images > div {
        position: static; /* Убираем абсолютное позиционирование для элементов */
        flex: 1 1 250px; /* Элементы растягиваются на всю ширину контейнера */
        max-width: 100%; /* Ограничиваем ширину */
        height: auto; /* Автоматическая высота для адаптации */
        min-height: 300px; /* Минимальная высота для сохранения пропорций */
        background-size: cover; /* Убедимся, что изображение занимает весь элемент */
    }  
}