:root{
  --dark-green-color: #192524;
  --dark-blue-color: #3c5759;
  --dark-gray-color: #959D90;
  --ligth-green-color: #D1EBDB;
  --light-gray1-color: #D0D5CE;
  --light-gray2-color: #EFECE9;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--light-gray2-color);
  color: var(--dark-green-color);
  font-family: "Montserrat", sans-serif;
}

/* html::-webkit-scrollbar {
  width: 10px;
  height: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--dark-gray-color);
  border-radius: 5rem;
} */
